<div class="hero">
    <div class="wrapper">
        <div class="hero__col-a">
            <div class="hero__content">
                <h4>Hi, welcome to FlickPicks</h4>
                <h1>Your site to choose the best movie for the night.</h1>
                <p>Here you will find a wide range of films to suit all tastes. Browse, read synopses, and check user reviews to find the perfect film for your night. Get ready to immerse yourself in thrilling stories and enjoy an incredible cinematic experience with our FlickPicks.</p>
            </div>
        </div>

        <div class="hero__col-b">
            <div class="hero__banner">
                <img src="../../../assets/mainbanner.jpg" alt=""/>
            </div>
        </div>
    </div>
</div>