<div *ngIf="modalOpen" (click)="turnFalse()" id="modal__background"></div>
<div *ngIf="modalOpen" id="modal__details">
    <div class="wrapper">
        <div class="modal__header">
            <div>
                <h1>Detalhes</h1>
            </div>
            <div>
                <button (click)="modalClose()">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="0.5" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" fill="#1C2E4B"></path> <path d="M8.96967 8.96967C9.26256 8.67678 9.73744 8.67678 10.0303 8.96967L12 10.9394L13.9697 8.96969C14.2626 8.6768 14.7374 8.6768 15.0303 8.96969C15.3232 9.26258 15.3232 9.73746 15.0303 10.0304L13.0607 12L15.0303 13.9696C15.3232 14.2625 15.3232 14.7374 15.0303 15.0303C14.7374 15.3232 14.2625 15.3232 13.9696 15.0303L12 13.0607L10.0304 15.0303C9.73746 15.3232 9.26258 15.3232 8.96969 15.0303C8.6768 14.7374 8.6768 14.2626 8.96969 13.9697L10.9394 12L8.96967 10.0303C8.67678 9.73744 8.67678 9.26256 8.96967 8.96967Z" fill="#1C2E4B"></path> </g></svg>
                </button>
            </div>
        </div>

        <div class="modal__info">
            <div class="modal__info__col-a">
                <img src="{{ imagePath }}{{ imageModal }}" alt="">
            </div>

            <div class="modal__info__col-b">
                <h2>{{ titleModal }}</h2>
                <p><span class="modal__info__col-b-color">Overview: </span>{{ overviewModal }}</p>
                <p><span class="modal__info__col-b-color">Average: </span>{{ averageModal.toFixed(1) }}</p>
                <p><span class="modal__info__col-b-color">Popularity: </span>{{ popularityModal }}</p>
                <p><span class="modal__info__col-b-color">Release: </span>{{ releaseModal | date }}</p>
                <p (click)="getDetail()" class="modal__info__col-b-btn"><span class="modal__info__col-b-color">More details</span><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#001d4a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></p>
            </div>
        </div>  
    </div>
</div> 

<section class="gallery" id="trending">
    <div class="wrapper">
        <h2 class="title">Trending</h2>
        <div class="gallery__wrapper">
            <div *ngFor="let item of moviesNow">
                <ul class="gallery__wrapper__div">
                    <a (click)="modalShow(item.poster_path, item.title, item.vote_average, item.overview, item.popularity, item.release_date, item.id)">
                        <li>
                            <img src="{{ imagePath }}{{ item.poster_path }}" alt="{{ item.title }}"/>
                            <span class="gallery__wrapper__div__average">{{ item.vote_average.toFixed(1) }}</span>
                            <span class="gallery__wrapper__div__title">{{ item.title }}</span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="gallery" id="top">
    <div class="wrapper">
        <h2 class="title">Top Rated</h2>
        <div class="gallery__wrapper">
            <div *ngFor="let item of moviesTopRated">
                <ul class="gallery__wrapper__div">
                    <a (click)="modalShow(item.poster_path, item.title, item.vote_average, item.overview, item.popularity, item.release_date, item.id)">
                        <li>
                            <img src="{{ imagePath }}{{ item.poster_path }}" alt="{{ item.title }}"/>
                            <span class="gallery__wrapper__div__average">{{ item.vote_average.toFixed(1) }}</span>
                            <span class="gallery__wrapper__div__title">{{ item.title }}</span>
                        </li>
                    </a>
                </ul>
            </div>     
        </div>
    </div>
</section>

<section class="gallery">
    <div class="wrapper">
        <h2 class="title">Dev List</h2>
        <div class="gallery__wrapper">
            <div *ngFor="let item of moviesDevList">
                <ul class="gallery__wrapper__div">
                    <a (click)="modalShow(item.poster_path, item.title, item.vote_average, item.overview, item.popularity, item.release_date, item.id)">
                        <li>
                            <img src="{{ imagePath }}{{ item.poster_path }}" alt="{{ item.title }}"/>
                            <span class="gallery__wrapper__div__average">{{ item.vote_average.toFixed(1) }}</span>
                            <span class="gallery__wrapper__div__title">{{ item.title }}</span>
                        </li>
                    </a>
                </ul>
            </div>     
        </div>
    </div>
</section>

<section class="gallery">
    <div class="wrapper">
        <h2 class="title">Dev List II</h2>
        <div class="gallery__wrapper">
            <div *ngFor="let item of moviesAnother">
                <ul class="gallery__wrapper__div">
                    <a (click)="modalShow(item.poster_path, item.title, item.vote_average, item.overview, item.popularity, item.release_date, item.id)">
                        <li>
                            <img src="{{ imagePath }}{{ item.poster_path }}" alt="{{ item.title }}"/>
                            <span class="gallery__wrapper__div__average">{{ item.vote_average.toFixed(1) }}</span>
                            <span class="gallery__wrapper__div__title">{{ item.title }}</span>
                        </li>
                    </a>
                </ul>
            </div>     
        </div>
    </div>
</section>

<app-banner />

<section class="gallery">
    <div class="wrapper">
        <h2 class="title">Nerd List</h2>
        <div class="gallery__wrapper">
            <div *ngFor="let item of moviesGeekFans">
                <ul class="gallery__wrapper__div">
                    <a (click)="modalShow(item.poster_path, item.title, item.vote_average, item.overview, item.popularity, item.release_date, item.id)">
                        <li>
                            <img src="{{ imagePath }}{{ item.poster_path }}" alt="{{ item.title }}"/>
                            <span class="gallery__wrapper__div__average">{{ item.vote_average.toFixed(1) }}</span>
                            <span class="gallery__wrapper__div__title">{{ item.title }}</span>
                        </li>
                    </a>
                </ul>
            </div>     
        </div>
    </div>
</section>

<section class="gallery" id="up">
    <div class="wrapper">
        <h2 class="title">Upcoming</h2>
        <div class="gallery__wrapper">
            <div *ngFor="let item of moviesUpcoming">
                <ul class="gallery__wrapper__div">
                    <a (click)="modalShow(item.poster_path, item.title, item.vote_average, item.overview, item.popularity, item.release_date, item.id)">
                        <li>
                            <img src="{{ imagePath }}{{ item.poster_path }}" alt="{{ item.title }}"/>
                            <span class="gallery__wrapper__div__average">{{ item.vote_average.toFixed(1) }}</span>
                            <span class="gallery__wrapper__div__title">{{ item.title }}</span>
                        </li>
                    </a>
                </ul>
            </div>     
        </div>
    </div>
</section>
